<div class="container">
    <div class="row" id="about-the-artist">
        <div id="emily-photo">
            <img src="emily.jpeg" width="500" alt="">
        </div>

        <div id="about-artist-description" width="300">
            <ul>
                <li>Seattle-area painter and illustrator</li>
                <li>Specializes in custom portraits and landscapes</li>
                <li>Illustrator for a children's book currently in publication</li>
                <li>When not painting, she can usually be found hanging out with her two dogs- Rue and Baxter!</li>
            </ul>
        </div>
    </div>
</div>