<form id="contact-form" onsubmit="confirmationAlert()" action="/" method="GET">

    <h2>Contact Form</h2>

    <p id="pricing-list">Download a pricing sheet <a href="pricing_list_example.pdf" download>here</a>.</p>

    <label for="name-input">Name</label>
    <br>
    <input type="text" name="name" id="name-input">

    <br>

    <label for="input-message">Message</label>
    <br>
    <textarea id="input-message" name="message" rows="4" cols="50">
    </textarea>

    <br>

    <input type="submit" value="Submit">

</form>