<div id="scroll-box">
    <h2>Book Illustrations- Preview</h2>
    <img src="book_cover.JPG" width="500" height="500" alt="">
    <img src="longfish.JPG" width="500" height="500" alt="">
    <img src="kingfisher.JPG" width="500" height="500" alt="">
    <img src="chameleon.JPG" width="500" height="500" alt="">
    <img src="bongo.JPG" width="500" height="500" alt="">
</div>

<div id="custom-portraits">
    <h2>Custom Portraits</h2>
    <p>What better way to connect during social distancing than to get a custom group portrait! All you need is a photo
        of each person and Emily will create a custom group portrait. It's almost as good as being together in person.
    </p>
    <img src="team_painting.jpeg" width="500" alt="">
</div>

<div id="custom-landscapes">
    <h2>Custom Landscapes</h2>
    <p>Have a favorite place you want to remember? Emily can create a unique custom painting of it- perfect for a gift,
        business logo, or other occasion. Can be painted from a photo or in person. </p>
    <img src="cabin_painting.jpeg" width="500" alt="">
    <img src="river_painting.jpeg" width="300" alt="">
</div>

<p id="photo-disclaimer">All artwork images are the property of the artist and may not be used for any purpose.</p>